.circleMove svg {
  animation: spin 15s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 990px) {
    section.section-sticky{
        position: sticky;
        top: 0px;
        z-index: 0;
    }
    section.section {
        position: relative;
        z-index: 1;
    }

}